In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [37]:
dados = pd.read_csv('bank-full.csv',sep=';')

In [38]:
dados.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [39]:
def trataY(valor):
    if valor == 'yes':
        return 1
    else:
        return 0
dados.y = dados.y.apply(trataY)

In [40]:
dadosDummies = pd.get_dummies(dados)

In [49]:
sim = dados[dados.y == 1]
nao = dados[dados.y == 0]

In [53]:
nao = nao.sample(len(sim))

**Removendo**

In [61]:
dados2 = pd.concat([nao,sim])

In [84]:
dadosDummies2 = pd.get_dummies(dados2)

In [97]:
for i in dados2:
    if dados2[i].dtype == object:
        print(i)
        dados2[i] = dados2[i].astype('category').cat.codes

job
marital
education
default
housing
loan
contact
month
poutcome

In [98]:
dados2['job'].dtype

dtype('int8')

In [99]:
y = dados2['y']
x = dados2.drop('y',axis=1)

In [100]:
from sklearn.model_selection import train_test_split

In [101]:
xTreino,xTeste,yTreino,yTeste = train_test_split(x,y)

Arv

In [102]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report

In [103]:
tree = DecisionTreeClassifier()
tree.fit(xTreino,yTreino)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [104]:
preditos = tree.predict(xTeste)

In [105]:
print(classification_report(preditos,yTeste))

             precision    recall  f1-score   support

          0       0.79      0.77      0.78      1373
          1       0.76      0.78      0.77      1272

avg / total       0.78      0.78      0.78      2645

In [106]:
from sklearn.ensemble import RandomForestClassifier

In [107]:
tree = RandomForestClassifier()
tree.fit(xTreino,yTreino)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [108]:
preditos = tree.predict(xTeste)
print(classification_report(preditos,yTeste))

             precision    recall  f1-score   support

          0       0.87      0.84      0.85      1374
          1       0.83      0.86      0.85      1271

avg / total       0.85      0.85      0.85      2645