In [19]:
import plotly.plotly as py
import plotly.graph_objs as go

import pandas as pd
from datetime import datetime

import pandas_datareader as pdr
import fix_yahoo_finance

pbr = pdr.get_data_yahoo("PBR")
vale = pdr.get_data_yahoo("VALE")

In [14]:
dados.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  49.169998  48.500000  48.880001  48.700001  14639500.0  42.660904
2010-01-05  48.820000  48.000000  48.669998  48.200001  16470900.0  42.222900
2010-01-06  49.349998  48.029999  48.110001  48.910000  12562100.0  42.844852
2010-01-07  48.849998  48.099998  48.790001  48.200001  12943700.0  42.222900
2010-01-08  48.599998  47.830002  48.400002  48.459999  11578400.0  42.450661

In [20]:

data = [go.Scatter(x=pbr.index, y=pbr['Close']),go.Scatter(x=vale.index, y=vale['Close'])]

py.iplot(data, filename = 'time-series-simple')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~viniciusmdea/0 or inside your plot.ly account where it is named 'time-series-simple'