# Salvando no banco de dados

Após a analise vamos salvar os valores em um banco de dados, será utilizado um banco de dados gratuito criando no site bd4free.net

In [4]:
import mysql.connector
import pandas as pd

In [5]:
# Testando conexão
host = 'db4free.net'
database = 'aulaletscode'
user = 'viniciusmdea'
password = 'testeQ123'
port = 3306

con = mysql.connector.connect(user=user, 
                              password=password,
                              host=host,
                              database=database)
con.close()

In [6]:
df = pd.read_csv('salesFacts.csv',encoding='utf-8',delimiter='\t')
df.head()

   ProductID                    Date    Zip  Units      Revenue
0         88  15/02/2000 12:00:00 AM  95605     92  $926,780.40
1       2263  12/11/2008 12:00:00 AM  33178     44  $177,380.28
2       2262  12/11/2008 12:00:00 AM  33178     44  $177,380.28
3        764  27/07/2004 12:00:00 AM  27522     40  $146,134.80
4        763  27/07/2004 12:00:00 AM  27522     40  $146,134.80

In [29]:
con = mysql.connector.connect(user=user, 
                              password=password,
                              host=host,
                              database=database)
cursor = con.cursor()

for dado in df.values:
    sql = "INSERT INTO salesFacts (ProductID, Date,Zip, Units, Revenue) VALUES (%s,%s,%s,%s,%s)"
    val = tuple(dado)
    cursor.execute(sql,val)
    
con.commit()
con.close()

OperationalError: 2055: Lost connection to MySQL server at 'db4free.net:3306', system error: 10053 An established connection was aborted by the software in your host machine

In [ ]:
excelFile = pd.Excel